<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <meta name="keywords" content="fashion"/>
  <meta name="description" content="The indecisive shopper's guide.">
  <title>The Indecisive Shopper</title>
  <link href="style.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/jpg" href="favicon.jpg" />
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="products.js"></script>
</head>
<body>
  <h3>The Indecisive Shopper's Guide To<br><br><img src="gilt.png"></h3>
  <h5>The top 10 samples sales for women. Happening now.</h5>
  <div class="products">
    <ul id="products"></ul>
  </div>
  <h6>Built by <a href="http://twitter.com/korenlc" target="_blank">Koren Leslie Cohen</a> using the Gilt Groupe API</h6>
  <h6>(no affiliation with <a href="http://gilt.com" target="_blank">Gilt Groupe</a>)</h6>
</body>
</html>






