<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <meta name="keywords" content="fashion"/>
  <meta name="description" content="The indecisive shopper's guide.">
  <title>The Indecisive Shopper</title>
  <link href="style.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/jpg" href="favicon.jpg" />
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="handlebars.js"></script>
  <script src="products.js"></script>
</head>
<body>
  <nav>
    <h3>The Indecisive Shopper</h3>
    <h5>Ten Gilt sample sales you should be shopping right now.</h5>
  </nav>
  <div class="products">
    <ul id="products"></ul>
  </div>
  <footer>
    <h6>Built by <a href="http://twitter.com/korenlc" target="_blank">Koren Leslie Cohen</a> using the Gilt Groupe API</h6>
    <h6>(no affiliation with <a href="http://gilt.com" target="_blank">Gilt Groupe</a>)</h6>
  </footer>

  <!-- li handlebars templates -->
  <script id="one-product-template" type="text/x-handlebars-template">
      <li>
        <a href={{saleUrl}} target="_blank">
  </script>
  <script id="two-product-template" type="text/x-handlebars-template">     
          <div class="sale_info" style="background-image:url({{image}}); background-size:cover">
  </script>
  <script id="three-product-template" type="text/x-handlebars-template">
            <h1>{{saleName}}</h1>
          </div>
        </a>
      </li>
  </script>

  <!-- random handlebars template -->
  <script id="random-template" type="text/x-handlebars-template">  
    <h2>{{rand}}</h2>
  </script> 
</body>
</html>






