<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <meta name="keywords" content="fashion, Gilt Groupe"/>
  <meta name="description" content="What should you purchase at Gilt today?">
  <title>Gilt</title>
  <link href="style.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/jpg" href="favicon.jpg" />
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="products.js"></script>
</head>
<body>

  <div class="products">
    <ul id="products"></ul>
  </div>

</body>
</html>






