@import url('http://fonts.googleapis.com/css?family=Pathway+Gothic+One');

body {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background: black;
  margin-top: 0px;
  margin-bottom: 0px;
}

nav {
  position: fixed;
  background: black;
  width: 1000px;
  margin-top: 0;
  padding-top: 0;
  z-index: 999;
}

.products {
  margin-left: auto;
  margin-right: auto;
  padding-top: 130px;
}

.products ul li {
  list-style: none;
  float: left;
  display: inline;
}

.sale_info {
  width: 450px;
  margin-right: 12.5px;
  position: center;
  text-align: center;
  height: 300px;
  margin-bottom: 12.5px;
}

.sale_info:hover {
  opacity: .9;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Pathway Gothic One';
}

h1 {
  font-size: 25px;
  background: rgba(0, 0, 0, .5);
}

h2 {
  font-size: 40px;
  color: #B98604;
  background: none;
  padding-top: 65px;
  padding-bottom: 140px;
}

h3,
h5,
h6 {
  color: #B98604;;
  text-align: center;
  font-family: 'Pathway Gothic One';
}

h3 {
  font-size: 55px;
  margin-bottom: 15px;
  margin-top: 15px;
}

h3 img {
  height: 85px;
}

h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 15px;
}

footer {
  display: block;
  width: 100%;
  float: left;
  text-align: center;
}

/* iPhone (portrait) - 320px Breakpoint -------> */
@media only screen and (max-width : 320px) {

  body {
    width: 320px;
  }

  nav {
    width: 320px;
  }

  .products ul li {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
  }

}


